.contact {
    background-color: $darkBlue;
    h1 {
        color: $cream;
    }
}

.contactPic {
    width: 30%;
    margin-right: 4%;
    float: left;
    img {
        width: 100%;
    }
}
.contactForm {
    width: 65%;
    color: $cream;
    float: left;
    p {
        font-size: 1.5rem;
        margin-top: 0;
    }
    h3 {
        font-size: 1.5rem;
        text-transform: uppercase;
        a {
            color: $pumpkin;
            text-decoration: none;
            &:hover, &:focus {
                color: $neon;
            }
            &:active {
                color: $cream;
            }
        }
    }
}

form {
    input[type="text"], textarea {
        font-size: 1.3rem;
        background-color: $darkBlue;
        color: $cream;
        padding: 15px 30px;
    }
    input[type="text"] {
        border-left: none;
        border-bottom: 2px solid $cream;
        border-top: none;
        border-right: none;
        margin-right: 3%;
        width: 45%;
        margin-bottom: 3%;
    }
    textarea {
        border: 2px solid $cream;
        width: 70%;
        margin-top: 3%;
        margin-bottom: 3%;
    }
    button {
        text-transform: uppercase;
        display: block;
        color: $cream;
        font-size: 1.2rem;
        padding: 8px 35px;
        background-color: $darkBlue;
        border: 2px solid $cream;
        &:active {
            background-color: $cream;
            color: $darkBlue;
            border: 2px solid $darkBlue;
        }
    }
}

label {
    display: none;
}

footer {
    -webkit-box-shadow: inset 0px 3px 10px 0px rgba(7,0,44,0.5);
    -moz-box-shadow: inset 0px 3px 10px 0px rgba(7,0,44,0.5);
    box-shadow: inset 0px 3px 10px 0px rgba(7,0,44,0.5);    
    position: absolute;
    bottom: 0;
    height: 6vh;
    background-color: $cream;
    width: 100%;
    display: flex;
    justify-content: space-between;
    .wrapper {
        display: flex;
        align-items: center;
        .legalInfo {
            float: left;
            flex: 2 0 auto;
            font-size: 1.2rem;
        }
        nav {
            max-width: 18%;
            flex: 1 0 auto;
            float: right;
            ul li a {
                color: $darkBlue;
                font-size: 1.5rem;
                &:hover, &:focus {
                    color: $grape;
                        &:before {
                            content: '\{ ';
                            color: $grape;
                        }
                        &:after {
                            content: ' \} ';
                            color: $grape;
                }
                }
            }
        }
    }
}