

@media (max-width: 1280px) { 
    .wrapper {
        padding: 0 2%;
    }
    hr {
        margin: 10px 0;
    }
    .logoTitle {
        font-size: 4rem;
        text-shadow: 1px 1px 8px $black;
        width: 50%;
    }
    .quote {
        padding: 2% 8% 2% 6%;
        min-height: 71vh;
    }
    .introduction {
        max-height: 69vh;
        padding: 2% 8%;
    }
    .pieceDisplay {
        width: 40%;
    }
    .pieceDetails {
        padding-left: 3%;
        width: 55%;
        float: left;
        h2 {
            margin-top: 0;
        }
    }
    .hobbies, .toolbox, .learning {
        i, svg {
            font-size: 4rem;
        }
        i, svg, div {
            width: 15%;
        }
    }
    .skills .wrapper .learning i, .skills .wrapper .learning svg {
        margin-bottom: 8%;
    }
    .contactPic {
        width: 25%;
        margin-right: 5%;
        img {
            width: 100%;
        }
    }
    .contactForm {
        width: 70%;
    }
    form {
        input[type="text"] {
            margin-right: 3%;
            width: 40%;
            margin-bottom: 2%;
        }
        textarea {
            width: 83.5%;
        }
    }
    footer .wrapper .legalInfo {
        font-size: 1rem;
    }
    .hobbies {
        div {
            img {
                padding-bottom: 55%;
            }
        }
    }
}

@media (max-width: 1023px) { 

    .portfolioBrowser ul {
        li {
            flex-direction: row;
            height: 22vh;
        }
    }
    .contactForm {
        p {
            font-size: 1.1rem;
        }
    }
    .contactForm h3 {
        font-size: 1.2rem;
    }
    .quote {
        min-height: 75vh;
    }
    footer .wrapper nav {
        max-width: 22%;
    }
    // #piece1, #piece2, #piece3, #piece4, #piece5 {
    //     display: block;
    // }

    // .portfolioBrowser {
    //     display: none;
    // }
}

@media (max-width: 700px) {
    .logoTitle {
        display: none;
    }
    .logoTitleMobile {
        display: block;
        margin: 0 auto;
        font-size: 10rem;
        padding-top: 20%;
        padding-bottom: 20%;
    }
    .quote {
        min-height: 65vh;
    }
    .contactPic {
        display: none;
    }
    .contact .wrapper {
        text-align: center;
    }
    .contactForm {
        width: 100%;
    }
    footer .wrapper nav {
        max-width: 30%;
    }
    
}
