.skills {
    background-color: $pumpkin;
    .wrapper {
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: auto;
        grid-template-areas: 
        "header header header header"
        "toolbox toolbox toolbox toolbox"
        "learning learning hobbies hobbies";
        h1 {
            grid-area: header;
        }
        .toolbox, .learning, .hobbies {
            h2 {
                text-transform: uppercase;
                color: $darkBlue;
            }
        }
        .toolbox {
            grid-area: toolbox;
            border-bottom: 2px dashed $darkBlue;
            i, svg, div {
                float: left;
                width: 10%;
                text-align: center;
                font-size: 5rem;
                color: $darkBlue;
                height: 15vh;
            }
            div {
                padding: 0 1.5%;
                img {
                    width: 100%;
                }
            }
        }
        .learning {
            grid-area: learning;
            min-width: 50%;
            border-right: 2px dashed $darkBlue;
            float: left;
            i, svg {
                float: left;
                width: calc(100% / 4);
                text-align: center;
                font-size: 5rem;
                color: $darkBlue;
            }
        }
        .hobbies {
            overflow-wrap: break-word;
            float: right;
            width: 47%;
            grid-area: hobbies;
            div {
                float: left;
                width: calc(100% / 6);
                padding: 0 2%;
                text-align: center;
                img {
                    width: 100%;
                }
            }
        }
    }
}