.splash {
    background-color: $splashBack;
    background-image: url('../images/splashBackground.png');
    background-position: center top;
    .wrapper {
        margin-top: 5%;
        display: flex;
        flex-wrap: wrap;
    }
}

nav {
    flex: 2 0 auto;
    ul {
        margin: 0;
        padding-left: 0;
        display: flex;
        justify-content: space-between;
        li {
            display: inline-block;
        }
    }
    a {
        color: $navLinks;
        text-decoration: none;
        font-weight: 700;
        &:hover, &:focus {
            color: $pumpkin;
            &:before {
                content: '\{ '
            }
            &:after {
                content: ' \} '
            }
        }
        &:active {
            color: $grape;
        }
    }
}

.logo {
    flex: 2 0 auto;
}

hr {
    margin: 30px 0;
    background: url('../images/hr.png') no-repeat top center;
    background-size: contain;
    display: block;
    height: 7px;
    width: 100%;
    border: 0;
    position: relative;
}

.head {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}