.splash {
    background-color: $splashBack;
    background-image: url('../images/splashBackground.png');
    background-position: center top;
    .wrapper {
        margin-top: 4%;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
    }
}

nav {
    flex: 1 0 auto;
    ul {
        // float: right;
        margin: 0;
        padding-left: 0;
        display: flex;
        justify-content: space-between;
        li {
            display: inline-block;
        }
    }
    a {
        color: $navLinks;
        text-decoration: none;
        font-weight: 700;
        &:before {
            content: '\{ ';
            color: transparent;
        }
        &:after {
            content: ' \} ';
            color: transparent;
        }
        &:hover, &:focus {
            color: $pumpkin;
            &:before {
                content: '\{ ';
                color: $pumpkin;
            }
            &:after {
                content: ' \} ';
                color: $pumpkin;
            }
        }
        &:active {
            color: $grape;
        }
    }
}

.logo {
    flex: 2 0 auto;
    color: $cream;
    font-size: 2.9rem;
    p {
        margin: 0;
    }
}

hr {
    margin: 20px 0;
    background: url('../images/hr.png') no-repeat top center;
    background-size: contain;
    display: block;
    height: 7px;
    width: 100%;
    border: 0;
    position: relative;
}

.head {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}