@font-face {
    font-family: "Noway Regular";
    src: url("../styles/fonts/noway-regular-webfont.eot");
    src:
        url("../styles/fonts/noway-regular-webfont.woff") format("woff"),
        url("../styles/fonts/noway-regular-webfont.woff2") format("woff2"),
        url("../styles/fonts/noway-regular-webfont.svg#filename") format("svg");
}
.splashTitle {
    color: #fff;
}
body {
    font-family: 'Noway Regular', sans-serif;
    font-size: 16px;
}
.logoTitle {
    font-size: 4.5rem;
    text-shadow: 2px 2px 8px $black;
    width: 60%;
    display: block;
}
.logoTitleMobile {
    display: none;
}
.titleNoelMatta {
    color: $pumpkin;
}
.titleFunction {
    color: $neon;
    &:before {
        content: '\A        ';
        white-space: pre;
    }
}
h1 {
    margin-bottom: 15px;
    font-size: 4rem;
    text-transform: uppercase;
    color: $pumpkin;
}
.work .wrapper {
    h1 {
        text-align: center;
    }
    h2 {
        color: $darkBlue;
        text-transform: uppercase;
        font-size: 2rem;
        margin-bottom: 3%;
    }
    p {
        line-height: 1.8rem;
        font-size: 1.2rem;
        clear: both;
        padding-top: 5%;
        padding-bottom: 5%;
    }
    ul {
        padding-left: 0;
        li {
            float: left;
            list-style-type: none;
            margin-right: 2%;
            margin-bottom: 2%;
            background-color: $grape;
            padding: 5px 15px;
            color: $cream;
            font-weight: 700;
            text-decoration: uppercase;
        }
    }
}
.pieceDetails {
    h2 {
        margin-top: 0;
    }
    a {
        text-decoration: none;
        color: $pumpkin;
        font-weight: 700;
        &:hover, &:focus {
            color: $neon;
        }
    }
}
.skills h1 {
    text-align: right;
    color: $cream;
}