// palette

$neon:          #91ff41;
$darkBlue:      #07002c;
$pumpkin:       #ffae00;
$grape:         #7d58a0;
$black:         #000;
$white:         #fff;

$splashBack:    $black;
$navLinks:       $white;