.piece {
    margin-top: 5%;
}

.pieceDisplay {
    width: 42%;
    float: left;
    img {
        width: 100%;
    }
}

.pieceDetails {
    padding-left: 3%;
    width: 52%;
    float: left;
}

.viewPiece {
    a {
        text-decoration: none;
        background-color: $pumpkin;
        color: $cream;
        margin-right: 2%;
        font-weight: 700;
        text-transform: uppercase;
        padding: 12px 25px; 
        border: 2px solid $cream;
        &:hover {
            background-color: $neon;
            color: $darkBlue;
            border: 2px solid $darkBlue;
        }
    }
}

.portfolioBrowser {
    width: 100%;
    position: absolute;
    bottom: 0;
    overflow: hidden;
    ul {
        display: block;
        padding-left: 0;
        li {
            list-style-type: none;
            text-decoration: none;
            display: flex;
            justify-content: center;
            flex-direction: column;
            text-align: center;
            float: left;
            word-wrap: wrap;
            font-size: 1.3rem;
            padding: 2%;
            width: 20%;
            border-left: 1px solid $cream;
            list-style-type: none;
            background-color: $pumpkin;
            color: $grape;
            text-transform: uppercase;
            &:hover {
                background-color: $cream;
                color: $darkBlue;
                transform: scale(1.2);
                border-top: 5px solid $pumpkin;
            }
            &:last-of-type {
                border-right: 1px solid $cream;
            }
        }
        li.active, li.active:hover {
            background-color: $cream;
            color: $darkBlue;
            transform: scale(1.2);
            border-top: 5px solid $pumpkin;
        }
    }
}

#piece1, #piece2, #piece3, #piece5 {
    display: none;
}
