article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background-color: #fafafa; }

.wrapper {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto; }

section {
  height: 100vh; }

@font-face {
  font-family: "Noway Regular";
  src: url("../styles/fonts/noway-regular-webfont.eot");
  src: url("../styles/fonts/noway-regular-webfont.woff") format("woff"), url("../styles/fonts/noway-regular-webfont.woff2") format("woff2"), url("../styles/fonts/noway-regular-webfont.svg#filename") format("svg"); }

.splashTitle {
  color: #fff; }

body {
  font-family: 'Noway Regular', sans-serif;
  font-size: 16px; }

.logoTitle {
  font-size: 4.5rem;
  text-shadow: 2px 2px 8px #000;
  width: 55%;
  display: block; }

.logoTitleMobile {
  display: none; }

.titleNoelMatta {
  color: #ffae00; }

.titleFunction {
  color: #91ff41; }
  .titleFunction:before {
    content: '\A        ';
    white-space: pre; }

h1 {
  margin-bottom: 15px;
  font-size: 4rem;
  text-transform: uppercase;
  color: #ffae00; }

.work .wrapper h1 {
  text-align: center; }

.work .wrapper h2 {
  color: #07002c;
  text-transform: uppercase;
  font-size: 2rem;
  margin-bottom: 3%; }

.work .wrapper p {
  line-height: 1.8rem;
  font-size: 1.2rem;
  clear: both;
  padding-top: 5%;
  padding-bottom: 5%; }

.work .wrapper ul {
  padding-left: 0; }
  .work .wrapper ul li {
    float: left;
    list-style-type: none;
    margin-right: 2%;
    margin-bottom: 2%;
    background-color: #7d58a0;
    padding: 5px 15px;
    color: #fafafa;
    font-weight: 700;
    text-decoration: uppercase; }

.pieceDetails h2 {
  margin-top: 0; }

.pieceDetails a {
  text-decoration: none;
  color: #ffae00;
  font-weight: 700; }
  .pieceDetails a:hover, .pieceDetails a:focus {
    color: #91ff41; }

.skills h1 {
  text-align: right;
  color: #fafafa; }

.splash {
  background-color: #000;
  background-image: url("../images/splashBackground.png");
  background-position: center top; }
  .splash .wrapper {
    margin-top: 4%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start; }

nav {
  flex: 2 0 auto; }
  nav ul {
    margin: 0;
    padding-left: 0;
    display: flex;
    justify-content: space-between; }
    nav ul li {
      display: inline-block; }
  nav a {
    color: #fafafa;
    text-decoration: none;
    font-weight: 700; }
    nav a:before {
      content: '\{ ';
      color: transparent; }
    nav a:after {
      content: ' \} ';
      color: transparent; }
    nav a:hover, nav a:focus {
      color: #ffae00; }
      nav a:hover:before, nav a:focus:before {
        content: '\{ ';
        color: #ffae00; }
      nav a:hover:after, nav a:focus:after {
        content: ' \} ';
        color: #ffae00; }
    nav a:active {
      color: #7d58a0; }

.logo {
  flex: 2 0 auto;
  color: #fafafa;
  font-size: 2.9rem; }
  .logo p {
    margin: 0; }

hr {
  margin: 20px 0;
  background: url("../images/hr.png") no-repeat top center;
  background-size: contain;
  display: block;
  height: 7px;
  width: 100%;
  border: 0;
  position: relative; }

.head {
  display: flex;
  justify-content: space-around;
  flex-direction: column; }

.about {
  background-color: #fafafa;
  background-image: url("../images/helloWorldBackground.png");
  background-position: center top;
  background-repeat: no-repeat;
  position: relative; }
  .about .wrapper {
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap; }

.introduction {
  position: absolute;
  left: 0;
  background-color: #07002c;
  color: #fafafa;
  max-width: 55%;
  max-height: 70vh;
  padding: 4% 8%;
  z-index: 30;
  -webkit-box-shadow: 0px 2px 10px 0px rgba(7, 0, 44, 0.5);
  -moz-box-shadow: 0px 2px 10px 0px rgba(7, 0, 44, 0.5);
  box-shadow: 0px 2px 10px 0px rgba(7, 0, 44, 0.5); }
  .introduction p {
    font-size: 1.2rem; }

.quote {
  position: absolute;
  top: 23%;
  right: 0;
  min-width: 50%;
  padding: 2% 8% 2% 6%;
  background-color: #91ff41;
  color: #07002c;
  min-height: 53vh;
  max-width: 55%;
  z-index: 20;
  display: flex;
  align-items: center;
  background-image: url("../images/blockquoteBackground.png");
  background-repeat: no-repeat;
  background-position: 25% 0%;
  -webkit-box-shadow: 0px 2px 7px 0px rgba(7, 0, 44, 0.5);
  -moz-box-shadow: 0px 2px 7px 0px rgba(7, 0, 44, 0.5);
  box-shadow: 0px 2px 7px 0px rgba(7, 0, 44, 0.5); }
  .quote blockquote {
    line-height: 3rem;
    margin: 0 auto;
    width: 55%;
    text-align: center;
    font-size: 2.5rem;
    text-transform: uppercase; }
    .quote blockquote .author {
      float: right;
      font-size: 1.5rem;
      color: #7d58a0; }

.piece {
  margin-top: 5%; }

.pieceDisplay {
  width: 42%;
  float: left; }
  .pieceDisplay img {
    width: 100%; }

.pieceDetails {
  padding-left: 3%;
  width: 52%;
  float: left; }

.viewPiece a {
  text-decoration: none;
  background-color: #ffae00;
  color: #fafafa;
  margin-right: 2%;
  font-weight: 700;
  text-transform: uppercase;
  padding: 12px 25px;
  border: 2px solid #fafafa; }
  .viewPiece a:hover {
    background-color: #91ff41;
    color: #07002c;
    border: 2px solid #07002c; }

.portfolioBrowser {
  width: 100%;
  position: absolute;
  bottom: 0;
  overflow: hidden; }
  .portfolioBrowser ul {
    display: block;
    padding-left: 0; }
    .portfolioBrowser ul li {
      list-style-type: none;
      text-decoration: none;
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      float: left;
      word-wrap: wrap;
      font-size: 1.3rem;
      padding: 2%;
      width: 20%;
      border-left: 1px solid #fafafa;
      list-style-type: none;
      background-color: #ffae00;
      color: #7d58a0;
      text-transform: uppercase; }
      .portfolioBrowser ul li:hover {
        background-color: #fafafa;
        color: #07002c;
        transform: scale(1.2);
        border-top: 4px solid #ffae00; }
      .portfolioBrowser ul li:last-of-type {
        border-right: 1px solid #fafafa; }

#piece1, #piece2, #piece3, #piece5 {
  display: none; }

.skills {
  background-color: #ffae00; }
  .skills .wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto); }
    .skills .wrapper h1 {
      grid-column: 1 / 4; }
    .skills .wrapper .toolbox {
      grid-column: 1 / 3;
      grid-row: 2 / 5;
      border-right: 2px dotted #07002c;
      padding-right: 5%;
      height: 80%; }
    .skills .wrapper .learning {
      padding-left: 10%;
      grid-column: 3 / 4;
      grid-row: 2;
      border-bottom: 2px dotted #07002c;
      height: 90%; }
      .skills .wrapper .learning i, .skills .wrapper .learning svg {
        width: 40%;
        text-align: center;
        margin-bottom: 10%; }
    .skills .wrapper .hobbies {
      padding-left: 10%;
      grid-column: 3;
      grid-row: 3; }
      .skills .wrapper .hobbies div {
        width: calc(100% / 6);
        height: 20%; }

.hobbies h2, .toolbox h2, .learning h2 {
  color: #07002c;
  text-transform: uppercase;
  margin-bottom: 15px; }

.hobbies i, .hobbies svg, .toolbox i, .toolbox svg, .learning i, .learning svg {
  font-size: 6rem; }

.hobbies i, .hobbies svg, .hobbies div, .toolbox i, .toolbox svg, .toolbox div, .learning i, .learning svg, .learning div {
  width: 16%;
  height: 21%;
  color: #07002c;
  padding: 2.5%;
  float: left; }

.hobbies div img, .toolbox div img, .learning div img {
  padding-bottom: 35%;
  width: 100%; }

.contact {
  background-color: #07002c; }
  .contact h1 {
    color: #fafafa; }

.contactPic {
  width: 30%;
  margin-right: 4%;
  float: left;
  border: 1px solid black; }
  .contactPic img {
    width: 100%; }

.contactForm {
  width: 65%;
  color: #fafafa;
  float: left; }
  .contactForm p {
    font-size: 1.5rem;
    margin-top: 0; }
  .contactForm h3 {
    font-size: 1.5rem;
    text-transform: uppercase; }
    .contactForm h3 a {
      color: #ffae00;
      text-decoration: none; }
      .contactForm h3 a:hover, .contactForm h3 a:focus {
        color: #91ff41; }
      .contactForm h3 a:active {
        color: #fafafa; }

form input[type="text"], form textarea {
  font-size: 1.3rem;
  background-color: #07002c;
  color: #fafafa;
  padding: 15px 30px; }

form input[type="text"] {
  border-left: none;
  border-bottom: 2px solid #fafafa;
  border-top: none;
  border-right: none;
  margin-right: 3%;
  width: 45%;
  margin-bottom: 3%; }

form textarea {
  border: 2px solid #fafafa;
  width: 70%;
  margin-top: 3%;
  margin-bottom: 3%; }

form input[type="submit"] {
  text-transform: uppercase;
  display: block;
  color: #fafafa;
  font-size: 1.2rem;
  padding: 8px 35px;
  background-color: #07002c;
  border: 2px solid #fafafa; }

footer {
  -webkit-box-shadow: inset 0px 3px 10px 0px rgba(7, 0, 44, 0.5);
  -moz-box-shadow: inset 0px 3px 10px 0px rgba(7, 0, 44, 0.5);
  box-shadow: inset 0px 3px 10px 0px rgba(7, 0, 44, 0.5);
  position: absolute;
  bottom: 0;
  height: 6vh;
  background-color: #fafafa;
  width: 100%;
  display: flex;
  justify-content: space-between; }
  footer .wrapper {
    display: flex;
    align-items: center; }
    footer .wrapper .legalInfo {
      float: left;
      flex: 2 0 auto;
      font-size: 1.2rem; }
    footer .wrapper nav {
      max-width: 15%;
      flex: 1 0 auto;
      float: right; }
      footer .wrapper nav ul li a {
        color: #07002c;
        font-size: 1.5rem; }
        footer .wrapper nav ul li a:hover, footer .wrapper nav ul li a:focus {
          color: #7d58a0; }
          footer .wrapper nav ul li a:hover:before, footer .wrapper nav ul li a:focus:before {
            content: '\{ ';
            color: #7d58a0; }
          footer .wrapper nav ul li a:hover:after, footer .wrapper nav ul li a:focus:after {
            content: ' \} ';
            color: #7d58a0; }

@media (max-width: 1280px) {
  .wrapper {
    padding: 0 2%; }
  hr {
    margin: 10px 0; }
  .logoTitle {
    font-size: 4rem;
    text-shadow: 1px 1px 8px #000;
    width: 50%; }
  .quote {
    padding: 2% 8% 2% 6%;
    min-height: 71vh; }
  .introduction {
    max-height: 69vh;
    padding: 2% 8%; }
  .pieceDisplay {
    width: 40%; }
  .pieceDetails {
    padding-left: 3%;
    width: 55%;
    float: left; }
    .pieceDetails h2 {
      margin-top: 0; }
  .hobbies i, .hobbies svg, .toolbox i, .toolbox svg, .learning i, .learning svg {
    font-size: 4rem; }
  .hobbies i, .hobbies svg, .hobbies div, .toolbox i, .toolbox svg, .toolbox div, .learning i, .learning svg, .learning div {
    width: 15%; }
  .skills .wrapper .learning i, .skills .wrapper .learning svg {
    margin-bottom: 8%; }
  .contactPic {
    width: 25%;
    margin-right: 5%; }
    .contactPic img {
      width: 100%; }
  .contactForm {
    width: 70%; }
  form input[type="text"] {
    margin-right: 3%;
    width: 40%;
    margin-bottom: 2%; }
  form textarea {
    width: 83.5%; }
  footer .wrapper .legalInfo {
    font-size: 1rem; }
  .hobbies div img {
    padding-bottom: 55%; } }

@media (max-width: 1024px) {
  .portfolioBrowser ul li {
    flex-direction: row;
    height: 15vh; }
  .contactForm p {
    font-size: 1.1rem; }
  .contactForm h3 {
    font-size: 1.2rem; }
  .quote {
    min-height: 75vh; }
  footer .wrapper nav {
    max-width: 22%; }
  .skills .wrapper {
    grid-template-columns: repeat(1, 1fr); }
    .skills .wrapper .toolbox {
      margin: 0 auto;
      grid-column: 1 / 4;
      grid-row: 2 / 3;
      padding-right: 0;
      border-right: none; }
      .skills .wrapper .toolbox i, .skills .wrapper .toolbox svg {
        font-size: 4rem; }
      .skills .wrapper .toolbox i, .skills .wrapper .toolbox svg, .skills .wrapper .toolbox div {
        text-align: center;
        width: 14%;
        color: #07002c;
        margin-bottom: 1%;
        float: left; }
      .skills .wrapper .toolbox div img {
        width: 80%; }
    .skills .wrapper .learning {
      display: none; }
    .skills .wrapper .hobbies {
      display: none; }
  .quote {
    display: none; }
  .introduction {
    max-width: 100%; } }

@media (max-width: 933px) {
  .logoTitle {
    display: none; }
  .logoTitleMobile {
    display: block;
    margin: 0 auto;
    font-size: 10rem;
    padding-top: 20%;
    padding-bottom: 20%; }
  .piece {
    margin: 0 auto; }
  .pieceDisplay {
    display: none; }
  .pieceDetails {
    text-align: center;
    width: 100%; }
    .pieceDetails p {
      margin-top: 0;
      padding-top: 0 !important; }
    .pieceDetails ul {
      display: none; }
  .portfolioBrowser ul li {
    font-size: 1rem;
    height: 10vh; } }

@media (max-width: 800px) {
  footer .wrapper nav {
    display: none; } }

@media (max-width: 700px) {
  .quote {
    min-height: 65vh; }
  .contactPic {
    display: none; }
  .contact .wrapper {
    text-align: center; }
  .contactForm {
    width: 100%; }
    .contactForm input[type="submit"] {
      margin: 0 auto; } }

@media (max-width: 480px) {
  .splash nav {
    display: block;
    margin-top: 20px; }
  .logo {
    text-align: center; }
  .portfolioBrowser ul li {
    font-size: 0.8rem;
    height: 8vh; } }

@media (max-width: 430px) {
  .about div h1 {
    margin: 0 auto;
    padding-bottom: 20px;
    font-size: 2.5rem; }
  .introduction {
    max-height: initial; }
  .contact h1 {
    font-size: 2.5rem;
    margin: 0 auto;
    padding: 20px 0; }
  .contactForm p {
    font-size: 1.3rem; } }

@media (max-width: 380px) {
  .introduction p {
    font-size: 1rem; } }
